* {
	margin:0;
	padding:0;
}

header, .articles, footer{
	width:90%;
	max-width:1000px;
	margin:20px auto;
}

#header {
	width:500px;
	margin:auto;
	font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
	list-style:none;
}

.nav li a {
	background-color:#528FD5;
	color:#fff;
	text-decoration:none;
	padding:10px 15px;
	display:block; 
}

.nav li a:hover{
	background-color:#68AEFF; 
}

.nav > li {
	float:left;
}

.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	right:-140px;
	top:0px;
}

.main .articles {
	width:70%;
}

aside {
}

body {
	background:#fff;
	font-family:calibri
}

footer {
	text-align:center;
	color:#fff;
	background:#000;
	padding:10px;
}

aside a {
	font-size:20px
	font-family:calibri;
	text-decoration:none;
	color:#fff;
	margin:10px 20px;
	padding:10px 20px;
	background:#3BA7E1;
	box-shadow:0px 5px 0px #1D64A6;
}

aside a:hover {
	box-shadow:0px 2px 0px #1D64A6;
}

aside a:active {
	box-shadow:none;
	color:#000;
}

aside img {
	border-radius:10px;
	padding:10px;
	border:1px solid #000;
}